<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>This is an online course on data visualization for upskilling professionals in all sectors running  04. May &ndash; 10. July 2021</p>
       
        <br/>
      
        <h3>Navigation</h3>
        <a href="/.">Overview</a>
        <br/>
        <a href="/organisation.html">Course Description</a>
        <br/>
        <a href="/teaching_philosophy.html">Teaching Approach</a>
        <br/>
        <a href="/content.html">Topics &amp; Schedule</a>
        <br/><br/> 
        <a href="/entry.html">Requirements, Fees and Waivers</a>
        <br/>
        <a href="/how_to_apply.html">How to apply</a>
        <br/> 
        <a href="/faqs.html">FAQs</a>
        <br/> 
        <b><a href="https://forms.gle/4Z6wTZkoHMsNL5Yu5">Register Interest</a></b>
        <br/>
        <b><a href="https://www.ed.ac.uk/studying/postgraduate/degrees/index.php?r=site/view&edition=2020&id=1002">Apply</a></b>
        <br/><br/> 
        <a href="/team.html">Team</a>
        <br/>
        <a href="mailto:datavisonline@gmail.com">E-mail us</a>     
        <br/>        
        <br/>
        <a href="http://visualinteractivedata.github.io/"><img src="images/logo-i.png" width="100px"/></a>
   </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
