<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body style="overflow: scroll;">
    <div class="wrapper">
      <header>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>This is a course on data science for manufacturing, part of the Data Skills Workforce Development portfolio aiming at upskilling professionals</p>
       
        <br/>
      
        <h3>Navigation</h3>
        <a href="/.">Overview</a>
        <br/>
        <a href="/organisation.html">Course Description</a>
        <br/>
        <a href="/timetable_support.html">Timetable & Online Support</a>
        <br/>
        <a href="/content.html">Topics &amp; Schedule</a>
        <br/><br/> 
        <a href="/entry.html">Requirements, Fees and Waivers</a>
        <br/>
        <a href="/how_to_apply.html">How to apply</a>
        <br/> 
        <a href="/faqs.html">FAQs</a>
        <br/> 
        <b><a href="https://forms.gle/9ZWPn8fDHZiDXNBR9">Register Interest</a></b>
        <br/>
        <b><a href="https://forms.office.com/Pages/ResponsePage.aspx?id=sAafLmkWiUWHiRCgaTTcYSh2MWKVoxpLrG5A3l7A6AdUMDdMQUJVRDFROFg2NDJQSzY3VkdTNzFaNy4u">Apply</a></b>
        <br/><br/> 
        <a href="/team.html">Team</a>
        <br/>
        <a href="mailto:mailto:datascimanu@gmail.com">E-mail us</a>     
        <br/>        
        <br/>
        <a href="https://www.ed.ac.uk/bayes/about-us/our-work/education/workforce-development"><img src="images/Bayes-logo-green.png" width="150px"/></a>
        <br/>
        <img src="images/SFCLogo_SFCLogo-Colour.png" width="150px"/></a>
        <br/>
        <img src="images/scottish-government-2-1.png" width="150px"/></a>
        <br/>
        <img src="images/nmis_logo.png" width="100px"/></a>
        <br/>
   </header>
      <section>

      {{ content }}

      </section>
      <footer>
      </footer>
    </div>
     <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
